<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>soldier</display-name>

    <welcome-file-list>
        <welcome-file>/viewSoldiers.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>ncl.military.controller.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/viewSoldiers</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>SoldierDB</description>
        <res-ref-name>jdbc/soldier</res-ref-name>
        <res-type>oracle.jdbc.pool.OracleDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <listener>
        <listener-class>ncl.military.controller.Log4jInit</listener-class>
    </listener>

    <context-param>
        <param-name>jndiPath</param-name>
        <param-value>java:/comp/env/jdbc/soldier</param-value>
    </context-param>
</web-app>
